results/*
!results/.gitkeep
certs/*.key
certs/*.crt
*.log

# Terraform (single-host mode)
aws/single/terraform/.terraform/
aws/single/terraform/generated/
aws/single/terraform/*.tfstate
aws/single/terraform/*.tfstate.*
aws/single/terraform/*.tfvars
aws/single/terraform/crash.log

# Terraform (fleet mode)
aws/fleet/terraform/.terraform/
aws/fleet/terraform/generated/
aws/fleet/terraform/*.tfstate
aws/fleet/terraform/*.tfstate.*
aws/fleet/terraform/*.tfvars
aws/fleet/terraform/crash.log

# Ansible
aws/single/ansible/inventory.ini
aws/fleet/ansible/inventory.ini
